main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
	position:fixed;
	width:100%;
	bottom:0px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}


.cnt
{
	position:absolute;
	top:150px;
	left:30%;
	width:65%;
}
.header-container
{
	background-color:#f5f5f5;
	width:100%;
	height:auto;
	border-radius:11px;
	max-width:550px;
	margin-top:1px;
}
.header-inside
{
	padding-left:25%;
	padding-right:25%;
	padding-top:30px;
	padding-bottom:30px;
}
.body-container
{
	background-color:#f5f5f5;
	width:100%;
	height:auto;
	max-height:250px;
	border-radius:11px;
	max-width:550px;
	margin-top:10px;
	margin-bottom:10px;
}
.body-inside
{
	padding-left:5%;
	padding-top:30px
}
.container-txt,.header-txt
{
	font-family:'Verdana';
}
.container-txt-sz
{
	font-size:27px;
}
.container
{
	display:inline-flex;
}
.container-btn
{
	
	width:75px;
	height:30px;
	background-color:#1959d1;
	color:white;
	border:none;
	text-decoration:none;
	padding-left:7px;

}
.container-tag
{
	width:auto;
	height:auto;
	background-color:gray;
	padding-left:10px;
	padding-right:10px;
	
}

.container-pos
{
	position:relative;
	top:55%;
	margin-left:5%;
	margin-bottom:5px;
	
}

.nav-btn
{
	background-color:inherit;
	color:white;
	width:130px;
	height:30px;
	border:none
	
}
.container-login,.container-signup
{
	width:25%;
	height:auto;
	position:absolute;
	left:25%;
	top:20%;
	max-width:300px;
}